<div class="card" style="width: 370px; height: 200px;">
    <h5 class="card-header">見つかりませんでした</h5>
    <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
    </div>
</div>