<div class="card sim_card" style="width: 370px; height: 230px; margin-bottom: 5px">
    <h5 class="card-header" style="font-weight: 700; font-family: "UD デジタル 教科書体 NK-B""><%= sim.name%></h5>
    <div class="card-body">
        <h5 class="card-title" style="font-weight: 600; font-family: "UD デジタル 教科書体 NK-B""><%= sim.content%></h5>
        <h5 class="card-text" style="font-weight: 600; font-family: "UD デジタル 教科書体 NK-B""><%= sim.price%></h5>
        <a href="<% sim.url %>" class="btn btn-primary">amazonで購入する</a>
    </div>
</div>