<div class="card" style="width: 370px; height: 200px;">
    <h5 class="card-header"><%= sim.name%></h5>
    <div class="card-body">
        <h5 class="card-title"><%= sim.content%></h5>
        <p class="card-text"></p>
        <a href="<% sim.url %>" class="btn btn-primary">amazon</a>
    </div>
</div>