

<%# 国がクリックされた時用のダイアログ%>
  <div id="dialog">
    <div id="dialogContent">
      <div>
        <p id=test_text>ok</p>
        <input type="button" value="閉じる" id="btn">
      </div>
        </div>
</div>