<div class="float-left" style="margin-right: 20px">
    <div style="height: 100px">
        <h5>国名からも検索できます</h5>
        <%# 検索フォーム用エリア%>
        <%= form_tag search_path, :method => 'get' do %>  <%#「search_path」はsearchアクションへのパス %>
          <p>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "検索", :name => nil %>
          </p>
        <% end %>
    </div>
    <div id="regions_div" class="card" style="width: 900px; height: 750px"></div>
</div>

<div id="main_contents" class="card float-left bg-light d-inline-block overflow-auto" style="width: 400px; height: 850px">
    <h5 class="card-title font-weight-bold sim-header" style="padding-top: 20px;">国を選択して下さい</h5>
    <div class="card-body_2 px-2 pb-2 pt-0 overflow-auto sim-cards">
    </div>
</div>