<div id="regions_div" class="card" style="width: 900px"></div>
    <div id="main_contents" class="card bg-light d-inline-block" style="width: 400px;">
            <h5 class="card-title font-weight-bold sim-header" style="padding-top: 20px;">国を選択して下さい</h5>
            <div class="card-body_2 px-2 pb-2 pt-0 overflow-auto sim-cards">
            </div>
    </div>