/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 main {
    width: 1350px;
    padding-top: 20px;
    text-align: center;
    margin: auto;
 }
 
 header {
  display: flex;
  width: auto;
  height: auto;
  background-color: white;
  height: 60px;
  background-size:  cover;
}

#regions_div {
    cursor: pointer;
}

#dialogContent {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 600px;
    height: 400px;
    margin-left: -150px;
    margin-top: -100px;
    background-color: #fff;
    text-align: center;
    
    border-radius: 10px;
    border: solid 1px;
}

.float-left {
    float: left;    
}

.header_text {
    height: 50px;
    margin-left: 20px;
    margin-top: 10px;
}

.main_image {
    height: 450px;
}


#main_contents {
    //background-color: #A5D3AB;
    margin-top: 110px;
}

#search {
    border: 1px solid #999;
    padding: 3px 5px;
    border-radius: 20px;
    height: 2.0em;
    width: 255px;
    overflow: hidden;
}

#button1 {
    cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  background: none;
  color: #3879D9;
  outline : none;
  display: inline-block;
  vertical-align: middle;
}
